<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=jwEegMd0v4">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=jwEegMd0v4">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png?v=jwEegMd0v4">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=jwEegMd0v4">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=jwEegMd0v4">
<link rel="manifest" href="/site.webmanifest?v=jwEegMd0v4">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=jwEegMd0v4" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=jwEegMd0v4">
<meta name="apple-mobile-web-app-title" content="Muller">
<meta name="application-name" content="Muller">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=jwEegMd0v4">
<meta name="theme-color" content="#ffffff">