/* Mixin */

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -moz-opacity: $opacity;
  filter: alpha(opacity= $opacity);
}

@mixin icone($icone) {
  content: $icone;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@mixin box-shadow($box-shadow){
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin centralizar {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin centralizar-total {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin gradiente {
  background: rgb(103,195,206);
  background: -moz-linear-gradient(40deg, rgba(103,195,206,1) 0%, rgba(110,167,98,1) 100%);
  background: -webkit-linear-gradient(40deg, rgba(103,195,206,1) 0%, rgba(110,167,98,1) 100%);
  background: linear-gradient(40deg, rgba(103,195,206,1) 0%, rgba(110,167,98,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#67c3ce",endColorstr="#6ea762",GradientType=1);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin icone($icone) {
  content: $icone;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
}

// TAMANHOS DE FONTE RELATIVOS
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
    @include font-smoothing;
}

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}