#produto {
    width: 100%;
    float: left;
    clear: both;
    padding: 80px 0;

    section {
        .fotos {
            picture {
                width: 100%;
                margin: 0 0 25px 0;
                padding: 0;
                border: 1px solid #ccc;
                display: none;

                &.active {
                    display: block;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .descricao {
            margin-bottom: 80px;

            h1 {
                color: $color-black;
                padding: 0;
                margin: 0 0 15px 0;
                text-transform: uppercase;
                font-weight: 800;
                line-height: 31px;
                @include font-size(48px);
            }

            h2 {
                margin: 0;
                color: $color-thema;
                text-transform: uppercase;
                font-weight: 700;
                @include font-size(18px);
            }

            h3 {
                color: $color-black;
                padding: 0;
                margin: 0 0 15px 0;
                text-transform: uppercase;
                font-weight: 700;
                @include font-size(28px);
            }

            h4 {
                color: $color-black;
                padding: 0;
                margin: 15px 0;
                text-transform: uppercase;
                font-weight: 700;
            }

            .html {
                width: 100%;
                float: left;
                clear: both;
                margin: 0 0 15px 0;
                color: $color-black;
            }

            .compartilhar{
                margin: 0 0 80px 0;
                padding: 0;
                list-style: none;
                li{
                    float: left;
                    margin: 0 10px 0 0;
                    a{
                        font-size: 41px;

                        &.icon-facebook-logo-button{
                            color: #1D4C9A;
                        }

                        &.icon-twitter-logo-button{
                            color: #3EC6EA;
                        }

                        &.icon-whatsapp{
                            color: #00a859;
                        }
                    }
                }
            }

            .cores {
                .list-cores {
                    width: 100%;
                    float: left;
                    clear: both;
                    margin: 0 0 35px 0;
                    padding: 0;
                    list-style: none;

                    li {
                        width: 80px;
                        float: left;
                        margin: 0 15px 0 0;
                        cursor: pointer;

                        &.active {
                            img {
                                border: 1px solid #ccc;
                            }
                        }

                        img {
                            width: 100%;
                            float: left;
                            border: 1px solid #fff;
                        }
                    }
                }
            }

            .valores {
                display: block;
                text-transform: uppercase;
                margin: 0 0 35px;
                clear: both;
                font-weight: 600;
                @include font-size(18px);

                .de {
                    display: inline-block;
                    position: relative;
                    clear: both;
                    color: #7d8086;

                    &:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: $color-thema;
                        position: absolute;
                        left: 0px;
                        top: 12px;
                    }
                }

                .por {
                    color: $color-black;
                    line-height: 5px;
                    margin: 0 0 20px 0;
                    display: inline-block;

                    .valor {
                        position: relative;
                        bottom: -13px;
                        color: $color-thema;
                        font-weight: 700;
                        @include font-size(36px);
                    }
                }

                .parcelas {
                    color: $color-black;
                    font-style: italic;
                    @include font-size(14px);
                    display: inline-block;
                    margin: 0 0 0 40px;
                }
            }


            .text-desktop{
                display: block;
                @media screen and (max-width: 640px) {
                    display: none;
                }
            }

            .text-mobile{
                display: none;
                @media screen and (max-width: 640px) {
                    display: block;
                }
            }

            .form-indisponivel{
                width: 100%;
                float: left;
                clear: both;
                margin: 0 0 35px 0;
                h3{
                    margin: 0;
                }
                p{
                    font-size: 18px;
                    line-height: 21px;
                    margin: 0 0 25px 0;
                }

                div{
                    max-width: 420px;
                    position: relative;
                    input{
                        height: 55px;
                    }
                    button{
                        width: 55px;
                        height: 55px;
                        background-color: #000;
                        color: #fff;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }

    .galeria {
        .columns {
            padding: 0;

            a {
                margin: 0;
                display: inline-block;
            }

            picture {
                margin: 0;
                padding: 0;
                position: relative;
                display: inline-block;
            }
        }
    }

    #recomendacoes {
        width: 100%;
        float: left;
        clear: both;
        padding: 80px 0;

        .carousel-produtos {
            width: 100%;
            position: relative;

            .item {
                text-align: center;

                picture {
                    margin: 0 0 10px 0;
                    padding: 0;
                    position: relative;
                    display: inline-block;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    &.img1 {
                        position: relative;
                        top: 0;
                        left: 0;
                    }

                    &.img2 {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                }

                &:hover {
                    picture {
                        &.img2 {
                            z-index: 2;
                        }
                    }
                }

                h3 {
                    text-align: center;
                    font-weight: 500;
                    line-height: 16px;
                    color: $color-thema;
                    text-transform: uppercase;
                    margin: 0;
                    clear: both;
                    @include font-size(16px);

                }

                h2 {
                    text-align: center;
                    font-weight: 800;
                    color: $color-black;
                    text-transform: uppercase;
                    margin: 0 0 10px 0;
                    clear: both;
                    @include font-size(24px);
                }

                .valores {
                    clear: both;
                    text-align: center;
                    color: $color-black;
                    margin: 0 0 20px 0;
                    @include font-size(16px);

                    .de {
                        .valor {
                            display: inline-block;
                            position: relative;
                            color: $color-laranja;

                            &:before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: $color-laranja;
                                position: absolute;
                                left: 0px;
                                top: 10px;
                            }
                        }
                    }

                    .por {
                        .valor {
                            font-weight: 700;
                            @include font-size(21px);
                        }
                    }
                }
            }

            .owl-nav {
                .owl-prev {
                    position: absolute;
                    left: -35px;
                    top: 50%;
                    cursor: pointer;
                    margin: -35px 0 0 0;

                    &:before {
                        font-size: 41px;
                        @include icone("\e915");
                    }

                    span {
                        display: none;
                    }
                }

                .owl-next {
                    position: absolute;
                    right: -35px;
                    top: 50%;
                    cursor: pointer;
                    margin: -35px 0 0 0;

                    &:before {
                        font-size: 41px;
                        @include icone("\e914");
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
