/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &.active {
        left: 0;
    }

    .icon-search:before {
        content: "\e909";
    }

    #dismiss {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #7386D5;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
            background: #fff;
            color: #7386D5;
        }
    }
    .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    ul {
        p {
            color: #fff;
            padding: 10px;
        }
        li {
            a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
                &:hover {
                    color: #7386D5;
                    background: #fff;
                }
            }
            &.active > a,
            a[aria-expanded="true"] {
                color: #fff;
                background: #6d7fcc;
            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.active {
        display: block;
        opacity: 1;
    }
}

.dropdown-toggle{
    &::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

ul {
    ul {
        a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        }
    }
}

ul.CTAs {
    padding: 20px;
    a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
}

a{
    &[data-toggle="collapse"] {
        position: relative;
    }
    &.download {
        background: #fff;
        color: #7386D5;
    }
    &.article,
    &.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }
}

body{
    .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #FF0000;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #FF0000;
        border-color: #FF0000;
    }
}

.slick-initialized .slick-slide picture {

    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: auto;

}
header{
    .busca-geral {
        width: 100%;
        float: left;
        padding: 20px 15px;
        position: absolute;
        top: -100px;
        left: 0px;
        background-color: #313131;
        z-index: 9;
        margin: auto 5px;
        @include box-sizing();
        @include transition(.3s);

        &.ativo {
            top: 95px;
        }

        input {
            height: 65px;
            padding: 15px;
            margin: 0;
            @include border-radius(0);
        }

        button {
            width: 65px;
            height: 65px;
            font-size: 26px;
            position: absolute;
            top: 20px;
            right: 15px;
            @include border-radius(0);
            background-color: transparent;
            border: 0;
            margin: auto 5px;
        }
    }
}
