@font-face {
    font-family: 'icones';
    src:    url('fonts/icones.eot?czzqc7');
    src:    url('fonts/icones.eot?czzqc7#iefix') format('embedded-opentype'),
        url('fonts/icones.ttf?czzqc7') format('truetype'),
        url('fonts/icones.woff?czzqc7') format('woff'),
        url('fonts/icones.svg?czzqc7#icones') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icones' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e900";
}
.icon-marker:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-quote:before {
    content: "\e904";
}
.icon-arrow-up:before {
    content: "\e911";
}
.icon-arrow-down:before {
    content: "\e912";
}
.icon-arrow-left:before {
    content: "\e913";
}
.icon-arrow-right:before {
    content: "\e915";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-facebook:before {
    content: "\e90f";
}
.icon-googleplus:before {
    content: "\e910";
}
.icon-linkedin:before {
    content: "\e914";
}
.icon-twitter:before {
    content: "\e926";
}
.icon-spinner:before {
    content: "\e921";
}
.icon-menu:before {
    content: "\e92a";
}

