.internal-form {
  .m-portlet {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}
.intl-tel-input { width: 100%; }

.form-geral{
  height: calc(100vh - calculateRem(140px));

  .m-portlet__foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    .m-form__actions{
      padding: 0;
      #dropdown-form{
        width: 50px;
        margin-left: -15px;

        > a{
          width: 100%;
          background: $m--brand-color;
          @include border-radius(0);
          height: 50px;

          border: 0;
          border-left: 1px solid #ff5c5c;

          i{
            color: #fff;
          }

          &:hover, &:focus, &.active{
            background: $m--brand-color !important;
            color: #fff !important;
          }
        }

        .m-dropdown__wrapper{
          margin-right: 25px;
        }
      }
      [type="submit"]:not(.metronic){
        width: calc(100% - 50px);
        float: left;

        background: $m--brand-color;
        height: 50px;
        color: #fff;
        border: 0;

        @include font-size(26px);
        i{
          @include font-size(26px);
        }
      }
    }
  }


  .iti-flag { background-image: url("../img/flags.png"); }
  .intl-tel-input { width: 100%; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag { background-image: url("../img/flags@2x.png"); }
  }
}

/*.form-group {
  position: relative;
  margin-bottom: 16px;

  label {
    @include vertical-align(absolute);

    margin-bottom: 0;
    padding: 0 0 0 20px;
    transition: all 200ms;
    opacity: 1;

    @include font-size(16px);
    color: #7d7d7d;
    line-height: calculateRem(30px);
  }

  .form-control {
    margin: 0;

    border: 1px solid rgb(138, 138, 138);
    @include border-radius(5px);

    @include font-size(16px);
    color: #7d7d7d;
    line-height: calculateRem(36px);

    padding: 16px 20px 8px;

    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &[disabled]{
      background: #eee;
      border: 1px solid #cacaca;
    }

    &[readonly]{
      background: #ccc;
      border: 1px solid #cacaca;
    }

  }

  .form-control:focus + label,
  .form-control:valid + label,
  label.focusfield {
    @include font-size(12px);
    color: #ff4c0f;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
  }
}

// Form
.form-geral {
  //max-width: 1500px;
  //padding: 0 15px;

  label {
    font-size: 16px;
    font-weight: bold;
    color: $color-black;
  }

  [type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea, select {
    //height: 55px;
    border: 1px solid $color-cinza;
    background-color: #fff;
    @include box-shadow(0 0 0 0);

    &[disabled]{
      background: #eee;
      border: 1px solid #cacaca;
    }

    &[readonly]{
      background: #ccc;
      border: 1px solid #cacaca;
    }
  }

  div.status-field .fieldset {
    border: 0px;
    padding: 0px;
  }

  .radius {
    .small-12.medium-5.large-3.column {
      margin: 0;
      padding: 0px;
    }
  }

  .file-arquivo {
    color: #fff;
  }

  .acoes-form {

    .margin-button {
      margin: 0 25px 45px 0;
    }

    .button {
      font-size: calculateRem(16px);
      color: #fff;
    }
  }

  .viewfile, .deletfile {
    margin-top: 28px;
    font-size: 16px;
    i {
      margin-right: 0;
    }
  }

  .deletfile {
    height: 54px;
  }

  .form-group {
    position: relative;
    margin-bottom: 16px;

    label {
      @include vertical-align(absolute);

      margin-bottom: 0;
      padding: 0 0 0 20px;
      transition: all 200ms;
      opacity: 1;

      @include font-size(16px);
      color: #7d7d7d;
      line-height: calculateRem(30px);
    }

    .form-control {
      margin: 0;

      border: 1px solid rgb(138, 138, 138);
      @include border-radius(5px);

      @include font-size(16px);
      color: #7d7d7d;
      line-height: calculateRem(36px);

      padding: 16px 20px 8px;

      box-sizing: border-box;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      &[disabled]{
        background: #eee;
        border: 1px solid #cacaca;
      }

      &[readonly]{
        background: #ccc;
        border: 1px solid #cacaca;
      }
    }

    .form-control:focus + label,
    .form-control:valid + label,
    label.focusfield {
      @include font-size(12px);
      color: #ff4c0f;
      transform: translate3d(0, -90%, 0);
      opacity: 1;
    }
  }
}

div.status-field {
  label, .switch {
    margin-bottom: 0;
  }
  .switch {
    font-size: 0;
  }
  .switch-active {
    color: #fff !important;
  }
  .fieldset {
    margin: 0;
    padding: 0.25rem 1.25rem;
  }
}*/
