@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sidebar__close:not(.insideform) {
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
    left: -100px;
    text-decoration: none;

    width: 40px;
    height: 40px;
    line-height: 36px;
    background: #cfcedb;
    border: 2px solid #cfcedb;
    border-radius: 50%;
    text-align: center;

    -webkit-transition: .2s cubic-bezier(.785, .135, .15, .86);
    -o-transition: .2s cubic-bezier(.785, .135, .15, .86);
    transition: .2s cubic-bezier(.785, .135, .15, .86);
    display: inline-block;

    &:hover {
        color: #ffffff;
        background: $m--brand-color;
        border: 2px solid $m--brand-color;

        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        text-decoration: none;
    }

    @media (max-width: 768px) {
        top: 10px;
        left: 10px;
    }
}

.sidebar__update {
    position: absolute;
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
    left: -50px;
    text-decoration: none;

    width: 40px;
    height: 40px;
    line-height: 36px;
    background: #cfcedb;
    border: 2px solid #cfcedb;
    border-radius: 50%;
    text-align: center;
    display: inline-block;

    &:hover {
        color: #ffffff;
        background: $m--brand-color;
        border: 2px solid $m--brand-color;

        -webkit-animation-name: spin;
        -webkit-animation-duration: 4000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 4000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 4000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        top: 10px;
        left: 60px;
    }
}

.form-sidebar {
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);

    display: inline-block !important;
    z-index: 1002;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 40%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: calc(100% + 100px);
    height: 100vh;

    .sidebar__content {
        height: 100%;
        width: 100%;
    }


    .sidebar__close {
        display: inline-block;

        @media (max-width: 1023.98px) {
            display: none;
        }
    }

    .sidebar__update {
        display: inline-block;

        @media (max-width: 1023.98px) {
            display: none;
            top: 10px;
            left: 60px;
        }
    }

    .sidebar__hide {
        @include vertical-align(absolute);

        font-size: 1.4rem;
        cursor: pointer;
        color: #fff;
        left: -35px;
        text-decoration: none;

        width: 40px;
        height: 40px;
        line-height: 36px;
        background: $m--brand-color;
        border: 2px solid $m--brand-color;
        text-align: center;

        &.animate {
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }

        i {
            @include vertical-align(absolute);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &::after {
            content: "";
            position: absolute;
            right: -2px;
            top: 100%;
            z-index: -1;
            border-top: 0px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 5px solid $m--brand-color;
        }

        //@keyframes movearrowright { 0% { left: 20%; } 50% { left: 40%; } 100% { left: 60%; } }
        //
        //&:hover {
        //  i {
        //    animation: movearrowright 2s infinite
        //  }
        //}
        @media (max-width: 1023.98px) {
            &:not(.close) {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);

                left: -5px !important;
            }
        }
    }

    .mCSB_scrollTools {
        right: -13px !important
    }

    &.sidebar--tabbed {
        .sidebar__close {
            top: 16px;
            @media (max-width: 1023.98px) {
                top: 10px;
            }
        }

        .sidebar__update {
            top: 16px;
            @media (max-width: 1023.98px) {
                top: 10px;
            }
        }

        .m-tabs.m-tabs-line {
            margin: 0 0 30px 0
        }

        .m-tabs.m-tabs-line > .m-tabs__item > .m-tabs__link {
            padding: 15px 0
        }
    }

    &.sidebar--skin- dark {
        background-color: #000;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.4);
        box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.4);

        .sidebar__close {
            color: #2c2e3e;

            &:hover {
                color: #ffffff;
                background: $m--brand-color;
            }
        }

        .sidebar__update {
            color: #2c2e3e;

            &:hover {
                color: #ffffff;
                background: $m--brand-color;
            }
        }
    }

    .sidebar-close {
        display: none
    }

    &.sidebar--on {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        //right: 0
    }

    @media (max-width: 1023.98px) {
        width: 100%;
    }

}

.form-sidebar-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    -webkit-animation: m-offcanvas-overlay-fade-in .3s linear 1;
    animation: m-offcanvas-overlay-fade-in .3s linear 1;

    &.open {
        display: inline-block;
    }
}

.form-sidebar-preload {
    @include vertical-align(fixed);
    transition: 0.3s;
    right: -120px;

    height: 60px;
    width: 60px;

    z-index: 1001;

    i {
        @include font-size(72px);
        color: $m--brand-color;
    }

    &.open {
        right: 20px;

        i {
            -webkit-animation-name: spin;
            -webkit-animation-duration: 4000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-name: spin;
            -moz-animation-duration: 4000ms;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            -ms-animation-name: spin;
            -ms-animation-duration: 4000ms;
            -ms-animation-iteration-count: infinite;
            -ms-animation-timing-function: linear;

            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

//@media (max-width: 768px) {
    html.internal-form {
        .m-portlet {
            .m-portlet__head {
                padding: 0 0 0 calculateRem(150px);
            }
        }
    }
//}
