body {
    > .m-scrollable {
        margin-right: 0;
        margin-left: 0;

        &.ps {
            > .ps__rail-x > .ps__thumb-x {
                background: $m--brand-color;
            }

            > .ps__rail-y > .ps__thumb-y {
                background: $m--brand-color;
            }
        }


        &.ps:hover > .ps__rail-x,
        &.ps:hover > .ps__rail-y,
        &.ps--focus > .ps__rail-x,
        &.ps--focus > .ps__rail-y,
        &.ps--scrolling-x > .ps__rail-x,
        &.ps--scrolling-y > .ps__rail-y {
            opacity: 1;
        }

        /*&.ps .ps__rail-x:hover,
        &.ps .ps__rail-y:hover,
        &.ps .ps__rail-x:focus,
        &.ps .ps__rail-y:focus,
        &.ps .ps__rail-x.ps--clicking,
        &.ps .ps__rail-y.ps--clicking {
          background-color: $m--brand-color;
          opacity: 1;

        }*/
    }
}

.indicadores {
    padding: 15px;

    .item {
        &._001 {
            a {
                background-color: #31a99e;
            }
        }

        &._002 {
            a {
                background-color: #8bc34a;
            }
        }

        &._003 {
            a {
                background-color: #ff9800;
            }
        }

        &._004 {
            a {
                background-color: #2196f3;
            }
        }

        &._005 {
            a {
                background-color: #673ab7;
            }
        }

        &._006 {
            a {
                background-color: #ffc107;
            }
        }

        a {
            display: block;
            text-align: center;
            font-size: 18px;
            padding: 50px;
            color: #fff;
            text-decoration: none;

            span {
                font-size: 36px;
                display: block;
                clear: both;
                margin: 0 auto;
            }
        }
    }
}

.ultimos-registros {
    padding: 35px 15px;

    h2 {
        font-size: 21px;
        font-weight: 500;
        clear: both;
        display: block;
    }

    table {
        clear: both;
        margin: 0 0 50px 0;
    }
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background: #000;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link {
    background: #000;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-icon {
    color: #fff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
    color: #fff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-icon {
    color: #fff;
}

.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link > .m-menu__link-icon {
    color: #fff;
}
