// TAMANHOS DE FONTE RELATIVOS
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

// Alinhamento vertical
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
    @include font-smoothing;
}

// SUAVIZAÇÃO DE FONTES
// Fontes escuras em fundos claros(off) e fontes claras em fundos escuros(on)
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// SELEÇÃO PERSONALIZADA
@mixin selection($texto, $fundo){
    ::-moz-selection { color:$texto; background-color:$fundo; }
    ::selection { color:$texto; background-color:$fundo; }
}

// ESCONDE TEXTO
@mixin removeText{
    text-indent:-9999em;
    overflow:hidden;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    -moz-opacity: $opacity;
    filter: alpha(opacity= $opacity);
}

@mixin icone($icone) {
    content: $icone;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
}

@mixin rotate($rotate){
    -transform-webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin box-shadow($box-shadow){
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin box-sizing{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin centralizar{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@mixin placeholder($color, $size:"") {
    &::-webkit-input-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
    &:-moz-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
    &::-moz-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
}

$off-wht: rgba(white,.4);

@mixin button-theme($btn-color) {
    @include button(false, $btn-color, darken($btn-color, 40%), #fff, solid);
    border:none;
    background-color: $btn-color;
    box-shadow: inset 0 -.188em darken($btn-color, 15%);
    &:hover {
        background-color: darken($btn-color, 10%);
        box-shadow: inset 0 -.188em $btn-color;
    }
    &:active {
        box-shadow: inset 0 -0.188em darken($btn-color, 20%);
    }
}

@mixin button-destaque($btn-color, $btn-sombra) {
    border:none;
    background-color: $btn-color;
    box-shadow: inset 0 -.088em $btn-sombra;
    &:hover {
        box-shadow: inset 0 -0.088em $btn-color;
    }
    &:active {
        box-shadow: inset 0 -0.088em $btn-color;
    }
}

@mixin trans($val...) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin icone-base($largura, $altura, $imagem, $type : 'after') {
    @if $type == 'after'{
        &:after{
            display: inline-block;
            width: $largura;
            height: $altura;
            content: url("../img/#{$imagem}");
        }
    }
    @else{
        &:before{
            display: inline-block;
            width: $largura;
            height: $altura;
            content: url("../img/#{$imagem}");
        }
    }
}

@mixin icone-base2($largura, $altura, $imagem, $type : 'after') {
    @if $type == 'after'{
        &:after{
            display: inline-block;
            background-size: $largura $altura;
            width: 100%;
            height: 100%;
            background: url("../img/#{$imagem}") no-repeat center center;
            content: '';
        }
    }
    @else{
        &:before{
            display: inline-block;
            background-size: $largura $altura;
            width: 100%;
            height: 100%;
            background: url("../img/#{$imagem}") no-repeat center center;
            content: '';
        }
    }
}

/* menu animation */
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);}
    20% {-webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1);}
    40% {-webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9);}
    60% {opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03);}
    80% {-webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97);}
    100% {opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3);}
    20% {-webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1);}
    40% {-webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9);}
    60% {opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03);}
    80% {-webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97);}
    100% {opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
}
@-webkit-keyframes fadeOutDown { 0% {opacity: 1;} 100% {opacity: 0; -webkit-transform: translate3d(0, 50%, 0); transform: translate3d(0, 50%, 0);} }
@keyframes fadeOutDown { 0% {opacity: 1;} 100% {opacity: 0; -webkit-transform: translate3d(0, 50%, 0); transform: translate3d(0, 50%, 0);} }