@charset "utf-8";

/*==============================================================================================================
Project:	Cedia - Multipurpose One page HTML5 Theme
Version:	1.0
Theme Forest Author:	abmathasuriya
Last update - 17th Jan 2019
===============================================================================================================
TABLE OF CONTENT

1.0-Load Google Fonts
2.0-Common style
3.0-Page loader
4.0-Main Navigation
5.0-Intro Header Menu
6.0-Page section
7.0-Texgt Heading style
8.0-Home demos Variants
9.0-Portfolio styles
10.0-Number section styles
11.0-Testimonial section
12.0-Client section
13.0-Service section
14.0-About section
15.0-Hero section
16.0-Team section
17.0-Pricing section
18.0-Blog section
19.0-subscribe section
20.0-Contact section
21.0-Footer section
22.0-Back to top button
23.0-Popup menu, work detail and popup contact style

/* ================================================
   1.0-Load Google Font
==================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300i,300,400,500,600,700,800");

/* ================================================
   2.0-Common style
==================================================*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
svg,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

fieldset,
img {
    border: 0;
}

* :focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

html {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.7;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    font-size: 15px;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 400;
    color: #87878c;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::-moz-selection {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

::selection {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

::-webkit-selection {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

::-webkit-input-placeholder {
    color: #87878c;
}

::-moz-placeholder {
    color: #87878c;
}

:-ms-input-placeholder {
    color: #87878c;
}

input:-moz-placeholder {
    color: #87878c;
}


.icon-search:before {
    content: "\e909";
}

.cta,
a,
article,
aside,
button,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
input,
li,
p,
section,
span,
strong,
svg,
textarea {
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
}

a:link,
a:visited {
    color: rgb(231, 30, 20);
    text-decoration: none;
}

embed,
object,
video {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 20px;
}

.last-para-no-margin p:last-of-type {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.2em;
}

h1 span.newline,
h2 span.newline,
h3 span.newline,
h4 span.newline,
h5 span.newline,
h6 span.newline {
    display: block;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: none !important;
}

.is-loading {
    overflow: hidden;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.line-height-1 {
    line-height: 1 !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Center content*/
.display-block {
    display: block;
}

.display-table {
    display: table !important;
}

.display-none {
    display: none;
}

.display-table-cell {
    display: table-cell !important;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

/* Position */
.relative {
    position: relative !important;
}

.static {
    position: static !important;
}

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

/* Background */
.bg-light-gray {
    background: #f7f7f9;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f2f2f2;
}

.bg-black {
    background: #212121;
}

.bg-color {
    background: rgb(231, 30, 20);
}

.bg-transparent {
    background: transparent !important;
}

/* Font color */
.text-white {
    color: #fff !important;
}

.text-gray {
    color: #f2f2f2 !important;
}

.text-black {
    color: #212121 !important;
}

.text-color {
    color: rgb(231, 30, 20) !important;
}

/*Horizontal line */
hr {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

hr.white {
    background: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.35);
}

hr.black {
    background: rgba(0, 0, 0, 0.85);
    border-color: rgba(0, 0, 0, 0.85);
}

hr.light {
    background: rgba(255, 255, 255, 0.03);
    border-color: rgba(255, 255, 255, 0.03);
}

/*Percentage Width*/
.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-35 {
    width: 35%;
}

.width-40 {
    width: 40%;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-55 {
    width: 55%;
}

.width-60 {
    width: 60%;
}

.width-65 {
    width: 65%;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
}

.width-85 {
    width: 85%;
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

/*Percentage Height*/
.height-10 {
    height: 10%;
}

.height-20 {
    height: 20%;
}

.height-30 {
    height: 30%;
}

.height-40 {
    height: 40%;
}

.height-50 {
    height: 50%;
}

.height-60 {
    height: 60%;
}

.height-70 {
    height: 70%;
}

.height-80 {
    height: 80%;
}

.height-90 {
    height: 90%;
}

.height-100 {
    height: 100%;
}

/*fixed height*/
.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.height-800 {
    height: 800px;
}

/*Overlay background light*/
.overlay-light-10:before,
.overlay-light-20:before,
.overlay-light-30:before,
.overlay-light-40:before,
.overlay-light-50:before,
.overlay-light-60:before,
.overlay-light-70:before,
.overlay-light-80:before,
.overlay-light-90:before,
.overlay-dark-10:before,
.overlay-dark-20:before,
.overlay-dark-30:before,
.overlay-dark-40:before,
.overlay-dark-50:before,
.overlay-dark-60:before,
.overlay-dark-70:before,
.overlay-dark-80:before,
.overlay-dark-90:before,
.overlay-color-10:before,
.overlay-color-20:before,
.overlay-color-30:before,
.overlay-color-40:before,
.overlay-color-50:before,
.overlay-color-60:before,
.overlay-color-70:before,
.overlay-color-80:before,
.overlay-color-90:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay-light-10:before {
    background: rgba(255, 255, 255, 0.1);
}

.overlay-light-20:before {
    background: rgba(255, 255, 255, 0.2);
}

.overlay-light-30:before {
    background: rgba(255, 255, 255, 0.3);
}

.overlay-light-40:before {
    background: rgba(255, 255, 255, 0.4);
}

.overlay-light-50:before {
    background: rgba(255, 255, 255, 0.5);
}

.overlay-light-60:before {
    background: rgba(255, 255, 255, 0.6);
}

.overlay-light-70:before {
    background: rgba(255, 255, 255, 0.7);
}

.overlay-light-80:before {
    background: rgba(255, 255, 255, 0.8);
}

.overlay-light-90:before {
    background: rgba(255, 255, 255, 0.9);
}

/*Overlay background black*/
.overlay-dark-10:before {
    background: rgba(21, 21, 21, 0.1);
}

.overlay-dark-20:before {
    background: rgba(21, 21, 21, 0.2);
}

.overlay-dark-30:before {
    background: rgba(21, 21, 21, 0.3);
}

.overlay-dark-40:before {
    background: rgba(21, 21, 21, 0.4);
}

.overlay-dark-50:before {
    background: rgba(21, 21, 21, 0.5);
}

.overlay-dark-60:before {
    background: rgba(21, 21, 21, 0.6);
}

.overlay-dark-70:before {
    background: rgba(21, 21, 21, 0.7);
}

.overlay-dark-80:before {
    background: rgba(21, 21, 21, 0.8);
}

.overlay-dark-90:before {
    background: rgba(21, 21, 21, 0.9);
}

/*Overlay background color*/
.overlay-color-10:before {
    background: rgba(231, 30, 20, 0.1);
}

.overlay-color-20:before {
    background: rgba(231, 30, 20, 0.2);
}

.overlay-color-30:before {
    background: rgba(231, 30, 20, 0.3);
}

.overlay-color-40:before {
    background: rgba(231, 30, 20, 0.4);
}

.overlay-color-50:before {
    background: rgba(231, 30, 20, 0.5)
}

.overlay-color-60:before {
    background: rgba(231, 30, 20, 0.6)
}

.overlay-color-70:before {
    background: rgba(231, 30, 20, 0.7)
}

.overlay-color-80:before {
    background: rgba(231, 30, 20, 0.8)
}

.overlay-color-90:before {
    background: rgba(231, 30, 20, 0.9);
}

/*font-weight(fw) style*/
.fw100 {
    font-weight: 100 !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw900 {
    font-weight: 900 !important;
}

/* 100% width */
.width-100 {
    width: 100%;
}

/* Button style */
.btn,
a.btn:link,
a.btn:visited {
    display: inline-block;
    height: 50px;
    font-weight: 600;
    padding: 15px 25px;
    background-color: transparent;
    color: #212121;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.btn.btn-text-black,
.btn.btn-text-white,
.btn.btn-text-color {
    position: relative;
    height: auto !important;
    padding: 0 5px !important;
}

.btn.btn-text-black {
    color: #212121;
}

.btn.btn-text-white {
    color: #fff;
}

.btn.btn-text-color {
    color: rgb(231, 30, 20);
}

.btn.btn-text-black:before {
    position: absolute;
    content: "";
    right: -15px;
    top: 50%;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    z-index: 1;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn.btn-text-black:before {
    background: #212121;
}

.btn.btn-text-white:before {
    background: #fff;
}

.btn.btn-text-color:before {
    background: rgb(231, 30, 20);
}

.btn:hover,
a.btn:hover,
a.btn:active,
a.btn:focus {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

/* Button black */
.btn.btn-black,
a.btn.btn-black:link,
a.btn.btn-black:visited {
    background-color: #212121;
    color: #fff;
}

.btn.btn-black:hover,
a.btn.btn-black:hover,
a.btn.btn-black:active,
a.btn.btn-black:focus {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

/* Button white */
.btn.btn-white,
a.btn.btn-white:link,
a.btn.btn-white:visited {
    background-color: #fff;
    color: #212121;
}

.btn.btn-white:hover,
a.btn.btn-white:hover,
a.btn.btn-white:active,
a.btn.btn-white:focus {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

/* Button color */
.btn.btn-color,
a.btn.btn-color:link,
a.btn.btn-color:visited {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

.btn.btn-color:hover,
a.btn.btn-color:hover,
a.btn.btn-color:active,
a.btn.btn-color:focus {
    background-color: #212121;
    color: #fff;
}

/* Button black border */
.btn.btn-border-black,
a.btn.btn-border-black:link,
a.btn.btn-border-black:visited {
    border: 1px solid #212121;
    color: #212121;
}

.btn.btn-border-black:hover,
a.btn.btn-border-black:hover,
a.btn.btn-border-black:active,
a.btn.btn-border-black:focus {
    background-color: #212121;
    color: #fff;
}

/* Button white border */
.btn.btn-border-white,
a.btn.btn-border-white:link,
a.btn.btn-border-white:visited {
    border: 1px solid #fff;
    color: #fff;
}

.btn.btn-border-white:hover,
a.btn.btn-border-white:hover,
a.btn.btn-border-white:active,
a.btn.btn-border-white:focus {
    background-color: #fff;
    color: #212121;
}

/* Button color border */
.btn.btn-border-color,
a.btn.btn-border-color:link,
a.btn.btn-border-color:visited {
    border: 1px solid rgb(231, 30, 20);
    color: rgb(231, 30, 20);
}

.btn.btn-border-color:hover,
a.btn.btn-border-color:hover,
a.btn.btn-border-color:active,
a.btn.btn-border-color:focus {
    background-color: rgb(231, 30, 20);
    color: #fff;
}

.btn.btn-text-black:hover,
.btn.btn-text-white:hover,
.btn.btn-text-color:hover {
    background-color: transparent !important;
    color: initial !important;
}

.btn.btn-text-black:hover:before,
.btn.btn-text-white:hover:before,
.btn.btn-text-color:hover:before {
    right: -10px;
}

/* Button rounded */
.btn-round-play {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    background-image: url(../icons/capicon/svg/203.svg);
    color: #212121;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center center;
}

.btn-round-play .anim-area {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    margin-top: -80px;
    width: 160px;
    height: 160px;
    content: '';
    border-radius: 50%;
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: pulsateArea;
    animation-name: pulsateArea;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes pulsateArea {
    0% {
        transform: scale(0.1);
        opacity: .4;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsateArea {
    0% {
        -webkit-transform: scale(0.1);
        -webkit-opacity: .1;
        opacity: .4;
    }

    100% {
        -webkit-transform: scale(1.4);
        -webkit-opacity: 0;
        opacity: 0;
    }
}

/*Video wrapper */
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper {
    padding-top: 56.25% !important;
}

/*
 * HTML5 BG VIdeo
 */

.bg-video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.bg-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.bg-video-wrapper video {
    max-width: inherit;
    height: inherit;
    z-index: 0;
}

a.bg-video-button-muted {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 28px;
    color: #fff;
    opacity: .75;
    z-index: 1000;
}

/* ================================================
   3.0-Page loader
==================================================*/
.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.5);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;

    z-index: 100001;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ================================================
   4.0- Main Navigation
==================================================*/

header.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 19px 0 16px 0;
    background: rgba(255, 255, 255, 0.99);
    /* border-bottom: 1px solid #f9f9f9; */
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);

}

.header.nav-disabled,
.header.nav-disabled nav {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header.nav-disabled nav {
    display: none;
}

.fixed-menu-open .header.nav-disabled nav {
    display: block;
}

header.header-invisible {
    visibility: hidden;
    -webkit-visibility: hidden;
    -moz-visibility: hidden;
    opacity: 0;
    display: none;
}

header.header-transperent {
    background: transparent;
}

.fixed-menu-open header.header-invisible {
    visibility: visible;
    -webkit-visibility: visible;
    -moz-visibility: visible;
    opacity: 1;
    display: block;
}

.nav-wrapper {
    position: relative;
    display: block;
}

.header h1 {
    display: block;
    float: left;
    padding-top: 0px;
    opacity: 0;


    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.header.header-visible h1 {
    opacity: 1;
}

.header h1 a {
    display: inline-block;
    width: 150px;
    height: 60px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    background-position: left center;
    -webkit-background-position: left center;
    -webkit-background-size: contain;
    background-size: contain;
}

.header ol {
    display: block;
    float: right;
    padding: 13px 0 11px 30px;
}

.header ol li {
    display: block;
    float: left;
}

.header ol li a {
    display: block;
    width: 28px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 25px;
    text-align: right;
    color: rgb(231, 30, 20);
}

.header ol li a:hover,
.header ol li a:focus {
    color: #212121;
}

.header ol li a svg {
    width: 100%;
    vertical-align: middle;
    fill: rgb(231, 30, 20);
    -webkit-fill: rgb(231, 30, 20);
}

.header nav {
    float: right;
    display: block;
}

.header nav ul {
    display: block;
    float: left;
}

.header nav ul li {
    display: block;
    float: left;
}

.header nav ul li a {
    display: block;
    font-size: 12px;
    padding: 20px 18px;
    text-transform: uppercase;
    color: rgba(21, 21, 21, .8);
    letter-spacing: 0.13em;
    font-weight: 600;
}

.header button {
    display: none;
}

.header button img,
.header button svg {
    vertical-align: middle;
    width: 100%;
}

.header button svg {
    fill: rgb(231, 30, 20);
    -webkit-fill: rgb(231, 30, 20);
}

.header.is-fixed {
    position: fixed !important;
    width: 100%;
    padding: 19px 0 16px 0;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.99);
    border-bottom: 1px solid #f9f9f9;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
    -webkit-animation: slideInDown 0.4s both ease-in-out;
    animation: slideInDown 0.4s both ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.header.is-fixed h1 {
    opacity: 1;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* ================================================
   5.0-Intro header menu
==================================================*/

.intro-header {
    opacity: 1;
    -webkit-transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.intro-header figure {
    position: relative;
    display: block;
}

.fixed-menu-open .intro-header {
    opacity: 0;
}

.intro-header figure h1 {
    display: block;
    float: left;
    padding-top: 0px;
}

.intro-header figure h1 a {
    display: inline-block;
    width: 150px;
    height: 54px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    background-position: left center;
    -webkit-background-position: left center;
}

.intro-header figure h1 a.Cedia-logo {
    background: url(../images/Cedia-logo.png) no-repeat;
    background-position: left center;
    -webkit-background-position: left center;
}

.intro-header ol {
    display: block;
    float: right;
    padding: 13px 0 11px 38px;
}

.intro-header ol li {
    display: block;
    float: left;
}

.intro-header ol li a {
    display: block;
    width: 28px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 25px;
    text-align: right;
    color: rgb(231, 30, 20);
}

.intro-header ol li a:hover,
.intro-header ol li a:focus {
    color: #212121
}

.intro-header ol li a svg {
    width: 100%;
    vertical-align: middle;
    fill: rgb(231, 30, 20);
    -webkit-fill: rgb(231, 30, 20);
}

.intro-header nav {
    float: right;
    display: block;
}

.intro-header nav ul {
    display: block;
    float: left;
}

.intro-header nav ul li {
    display: block;
    float: left;
}

.intro-header nav ul li a {
    display: block;
    font-size: 12px;
    padding: 17px 18px;
    text-transform: uppercase;
    color: rgb(231, 30, 20);
    letter-spacing: 0.13em;
    font-weight: 600;
    background-color: #f2f2f2;
}

.intro-header nav ul li a:hover,
.intro-header nav ul li a:focus,
.intro-header nav ul li a:active {
    color: rgb(21, 21, 21);
}

/* Header White */
.header.header-white h1 a,
.intro-header.header-white figure h1 a {
    background-image: url(../images/logo-white.png);
}

.header.header-white.is-fixed h1 a {
    background-image: url(../images/logo.png);
}

.header.header-white ol li a,
.intro-header.header-white ol li a {
    color: rgba(255, 255, 255, 1);
}

.header.header-white.is-fixed ol li a {
    color: rgb(231, 30, 20);
}

.header.header-white nav ul li a {
    color: rgba(255, 255, 255, 1);
}

.header.header-white.is-fixed nav ul li a {
    color: rgba(21, 21, 21, .8);
}

.header nav ul li a:hover,
.header nav ul li.is-active a,
.header.header-white.is-fixed nav ul li a:hover,
.header.header-white.is-fixed nav ul li.isactive a {
    color: rgb(231, 30, 20) !important;
}

/* ====================================================================
   6.0-Page section
======================================================================*/
.page-section,
.big-section,
.medium-section,
.small-section,
.hero-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-section.overflow-auto,
.hero-section.overflow-auto {
    overflow: initial;
}

.page-section.ba-scroll,
.hero-section.ba-scroll {
    background-attachment: scroll !important;
}

.page-section.ba-fixed,
.hero-section.ba-fixed {
    background-attachment: fixed !important;
}

.page-section.bgrepeat,
.hero-section.bgrepeat {
    background-repeat: repeat !important;
    background-size: auto !important;
    -webkit-background-size: auto !important;
    -moz--webkit-background-size: auto !important;
}

.bg-video-wrapper:before,
.bg-pattern-over .YTPOverlay:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-size: auto;
    background-image: url(../images/pattern-bg-2.png);
}

/* IOS Background Fix */
.mobile .page-section,
.mobile .big-section,
.mobile .medium-section,
.mobile .small-section,
.mobile .hero-section {
    background-attachment: scroll;
}

.big-section {
    padding: 140px 0;
}

.medium-section {
    padding: 100px 0;
}

.hero-section {
    width: 100%;
    display: block;
    position: relative;
}

.border-top {
    border-top: 1px solid #e6e6e6;
}

.border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

.small-section {
    padding: 70px 0;
}

/* ====================================================================
   7.0-Text Heading style
======================================================================*/
.heading-big {
    font-size: 70px;
    letter-spacing: -0.6px;
    line-height: 1.1;
    text-shadow: -1px -1px 1px #ca0d03;
}

.heading-big-subhead {
    font-size: 21px;
    line-height: 1.7;
}

.heading-hero {
    font-size: 32px;
    letter-spacing: -0.6px;
    line-height: 1.3;
}

.heading-medium {
    font-size: 18px;
    line-height: 30px;
}

.heading-small {
    font-size: 14px;
    line-height: 1.7;
}

/* ====================================================================
   8.0-Home Demo Variants
======================================================================*/
#home .heading-big-subhead span {
    display: block;
}

#home .scroll-bottom {
    width: 42px;
    position: absolute;
    right: 0px;
    bottom: 0;
    transition: none 0s ease 0s;
    opacity: 1;
}

#home .scroll-bottom.center {
    right: 50%;
    bottom: 10px;
    margin-right: -21px;
}

#home .scroll-bottom svg {
    fill: rgb(231, 30, 20);
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

@-webkit-keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.bg-animation {
    position: absolute;
    opacity: 0.08;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 576px;
    margin-left: -250px;
    margin-top: -288px;
    z-index: -1;
}

.bg-animation.center {
    bottom: 400px;
    left: 50%;
    margin-left: -250px;
}

.bg-animation-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-animation-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 575px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.bg-animation-svg:first-child {
    animation: rotating 35s linear infinite;
}

.bg-animation-svg:last-child {
    animation: rotating-back 35s linear infinite;
    top: 2px;
}

.bg-animation-svg .icon-shape {
    fill: #232020;
    stroke: #232020;
    width: 100%;
    height: 100%;
}

.bg-animationn svg {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating-back {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotating-back {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.slick-slider {
    cursor: grab;
}

/* Home page content slider */
#homepage-content-slider .slick-dots,
#homepage-content-slider-2 .slick-dots,
#homepage-image-slider .slick-dots,
#homepage-image-slider-2 .slick-dots {
    bottom: 60px;
    cursor: default;
}

#homepage-content-slider .slick-dots li,
#homepage-content-slider-2 .slick-dots li,
#homepage-image-slider .slick-dots li,
#homepage-image-slider-2 .slick-dots li {
    width: 15px;
    height: 15px;
    background-color: #cfcfcf;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#homepage-content-slider .slick-dots li.slick-active,
#homepage-content-slider-2 .slick-dots li.slick-active,
#homepage-image-slider .slick-dots li.slick-active,
#homepage-image-slider-2 .slick-dots li.slick-active {
    background-color: rgb(231, 30, 20);
}

#homepage-content-slider .slick-dots li button:before,
#homepage-content-slider-2 .slick-dots li button:before,
#homepage-image-slider .slick-dots li button:before,
#homepage-image-slider-2 .slick-dots li button:before {
    content: '';
}

/* Home page content slider-2 */
#homepage-content-slider-2 .item .row,
#homepage-image-slider-2 .item .row {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#homepage-content-slider-2 .item.slick-active .row,
#homepage-image-slider-2 .item.slick-active .row {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.home_btn {
    display: block;
    position: relative;
    margin: 40px 0 0px 0
}

.head-overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(231, 30, 20, 1);
    background: -moz-linear-gradient(rgba(231, 30, 20), rgba(231, 30, 20, 0.8));
    background: -webkit-linear-gradient(rgba(231, 30, 20), rgba(231, 30, 20, 0.8));
    background: -ms-linear-gradient(rgba(231, 30, 20), rgba(231, 30, 20, 0.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(231, 30, 20)', endColorstr='rgba(231, 30, 20, 0.8)', GradientType=0);
    background: linear-gradient(rgba(231, 30, 20), rgba(231, 30, 20, 0.8));
}

.head-overlay img {
    position: absolute;
    left: -10px;
    bottom: -1px;
    width: calc(100% + 20px);
}

.bottom-overlay {
    position: relative;
    z-index: 1;
    top: -2px;
    left: -5px;
    width: calc(100% + 10px);
    bottom: auto;
    transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
}

/* ====================================================================
   9.0-Portfolio style
======================================================================*/
.work-container,
.item-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.projects-wrapper,
.item-wrapper {
    margin: 0;
    padding: 0
}

.works-grid,
.item-grid {
    list-style: none;
    margin: 0;
    padding: 0;
}

.work-item,
.grid-item {
    width: 25%;
    float: left;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.work-grid-2 .work-item,
.item-grid-2 .grid-item {
    width: 50%;
}

.work-grid-3 .work-item,
.item-grid-3 .grid-item {
    width: 33.333%;
}

.container .work-grid-3 .work-item,
.container .item-grid-3 .grid-item {
    width: 33.2%;
}

.work-grid-5 .work-item,
.item-grid-5 .grid-item {
    width: 20%;
}

.works-grid.work-grid-gut,
.item-grid.item-grid-gut {
    margin: -10px 0 0 -10px;
}

.works-grid.work-grid-gut .work-item,
.item-grid.item-grid-gut .grid-item {
    padding: 10px 0 0px 10px;
}

.work-item > a {
    display: block;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.work-img {
    position: relative;
    overflow: hidden;
}

.work-img.detail-bg-block {
    padding: 10px;
}

.item-grid-style1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(231, 30, 20, 0.9);
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}


.item-grid-style1 .grid-inner {
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    visibility: visible;
    width: 100%;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.item-grid-style1 .grid-inner-content {
    bottom: 0;
    font-weight: 300;
    padding: 30px 35px;
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.item-grid-style1 .grid-inner-content h3 {
    margin-bottom: 5px;
}

.item-grid-style1:hover:after,
.item-grid-style1:hover:before {
    opacity: 1;
    z-index: 1;
}

.item-grid-style1:hover .grid-inner {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
}

/* Portfolio Style-2 */
.works-grid .work-item figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

figure.item-grid-style2 .work-img {
    position: relative;
    overflow: hidden;
    background-color: rgb(231, 30, 20);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

figure.item-grid-style2 .work-img img {
    cursor: pointer;
    display: block;
    opacity: 1;
    width: 100%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

figure.item-grid-style2 .work-img .portfolio-icon {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    opacity: 0;
}

figure.item-grid-style2 .work-img .portfolio-icon a {
    border-radius: 50%;
    border: 2px solid transparent;
    background: #fff;
    margin: 0 7px;
    height: 46px;
    width: 46px;
    display: inline-block;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

figure.item-grid-style2 .work-img .portfolio-icon i.fa-link {
    font-size: 20px;
    position: relative;
    line-height: 46px;
    color: #232323;

}

figure.item-grid-style2 .work-img .portfolio-icon i.fa-search {
    font-size: 16px;
    position: relative;
    line-height: 46px;
    color: #232323;
}

figure.item-grid-style2 figcaption {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    padding: 45px;
    z-index: 1;
    text-align: center;
}

figure.item-grid-style2 figcaption {
    height: 100%;
    position: relative;
    opacity: 1;
    padding: 35px 10px;
    background: #f2f2f2;
}

.portfolio-hover-main {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    display: table;
    height: 100%;
    top: 0;
    width: 100%;
}

.portfolio-hover-box {
    display: table-cell;
    height: 100%;
}

figure.item-grid-style2:hover img {
    opacity: 0.15;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

figure.item-grid-style2:hover figcaption {
    opacity: 1;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

figure.item-grid-style2:hover .portfolio-icon {
    opacity: 1;
    top: 50%;
}

figure.item-grid-style2 .work-img .portfolio-icon a:hover,
figure.item-grid-style2 .work-img .portfolio-icon a:hover i {
    background: transparent;
    color: #fff;
}

figure.item-grid-style2 .work-img .portfolio-icon a:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}

/* portfolio grid */
.item-grid-style3 .work-item figure .work-img {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.item-grid-style3 .work-item figure img {
    cursor: pointer;
    display: block;
    opacity: 1;
    width: 100%;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.item-grid-style3 .work-item figure img {
    top: 0;
    position: relative
}

.item-grid-style3 .work-item figcaption {
    height: auto;
    position: absolute;
    opacity: 0;
    padding: 32px;
    bottom: -101px;
    background: rgb(231, 30, 20) !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.item-grid-style3 .work-item .portfolio-hover-main {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    display: table;
    height: 100%;
    top: 0;
    width: 100%;
}

.item-grid-style3 .work-item figure:hover .work-img {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    background: transparent
}

.item-grid-style3 .work-item figure:hover figcaption {
    bottom: 0
}

.item-grid-style3 .work-item figure:hover img {
    cursor: pointer;
    opacity: 1;
    top: -91px
}

.item-grid-style3 .work-item figure:hover figcaption {
    cursor: pointer;
    opacity: 1;
}

.project-detail-header,
.project-detail-body {
    position: relative;
    display: block;
    width: 100%;
}

.back-to-project {
    font-size: 13px;
    color: rgb(231, 30, 20);
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-weight: 600;
}

.back-to-project:hover,
.back-to-project:active,
.back-to-project:focus {
    color: #212121;
}

.project-client-info,
.project-client-role {
    position: relative;
    display: block;

}

.project-client-info:before,
.project-client-role:before {
    position: absolute;
    top: 0px;
    width: 120px;
    height: 2px;
    background: rgb(231, 30, 20);
    content: "";
}

.project-client-info header,
.project-client-role header {
    padding-top: 10px;
    color: rgb(231, 30, 20);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.project-client-info aside,
.project-client-role aside {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
}

.popup-content .work-item .work-mask,
.work-item .work-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 21, 21, .1);
    transition: all .25s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition: all .25s cubic-bezier(.785, .135, .15, .86);
    -moz-transition: all .25s cubic-bezier(.785, .135, .15, .86);
}

.popup-content .work-item a:hover .work-mask,
.work-item a:hover .work-mask {
    background: rgba(21, 21, 21, 0);
}

.case-study-img {
    position: relative;
    display: block;
    padding-top: 20px;
}

.case-study-img .head {
    width: 100%;
    height: 21px;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1
}

.case-study-img .head .ptn {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 3px;
    top: 50%;
    background-color: #232426;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.2;
}

.case-study-img .head .ptn:nth-child(1) {
    left: 6px;
}

.case-study-img .head .ptn:nth-child(2) {
    left: 16px;
}

.case-study-img .head .ptn:nth-child(3) {
    left: 26px;
}

.case-study-img .container-screen {
    height: 570px;
    overflow: hidden;
}

.case-study-img .container-screen img,
.case-study-img .container-screen-slider img {
    width: calc(100% + 1px);
}

.case-study-img .container-screen img {
    /* -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: scrollCoverBrowser;
    animation-name: scrollCoverBrowser;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.005, 0.305, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.005, 0.305, 1.000);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none; */
}

@keyframes scrollCoverBrowser {

    10% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(calc(-50% + 285px));
        -ms-transform: translateY(calc(-50% + 285px));
        transform: translateY(calc(-50% + 285px));
    }

    100% {
        -webkit-transform: translateY(calc(-100% + 570px));
        -ms-transform: translateY(calc(-100% + 570px));
        transform: translateY(calc(-100% + 570px));
    }

}

@-webkit-keyframes scrollCoverBrowser {
    10% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }

    50% {
        -webkit-transform: translateY(calc(-50% + 285px));
        -ms-transform: translateY(calc(-50% + 285px));
        transform: translateY(calc(-50% + 285px));
    }

    100% {
        -webkit-transform: translateY(calc(-100% + 570px));
        -ms-transform: translateY(calc(-100% + 570px));
        transform: translateY(calc(-100% + 570px));
    }

}

.project-mission {
    position: relative;
    display: block;
}

.project-mission .content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 36px 0 rgba(111, 118, 222, .1);
    box-shadow: 0 8px 36px 0 rgba(111, 118, 222, .1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-mission .content .cdr {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
}

.project-mission .content p {
    margin: 0;
}

.project-mission .content,
.project-mission .content .cdr.cdr-year,
.project-mission .content .cdr.cdr-role {
    border-color: #d6d6d6;
}

.project-mission .content .cdr .text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-mission .content .cdr .text h6 {
    margin-right: 25px;
    color: rgb(231, 30, 20);
    font-size: 16px;
}

.project-mission .content .cdr.cdr-year:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 62px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(122, 105, 230, .2);
}

.project-mission .content .cdr.cdr-role:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 62px;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(122, 105, 230, .2);
}

.container-laptop .container-screens {
    position: absolute;
    top: 7.5%;
    left: 49.9%;
    width: 65.5%;
    margin: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container-laptop img {
    width: 100%;
}

.project-detail-nav-link {
    padding: 30px 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
}

.project-detail-nav-link-prev {
    padding-left: 50px;
}

.project-detail-nav-link-next {
    padding-right: 50px;
}

.project-detail-nav-link-prev .nav-icon,
.project-detail-nav-link-next .nav-icon {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    position: absolute;
    transition: all .25s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition: all .25s cubic-bezier(.785, .135, .15, .86);
    -moz-transition: all .25s cubic-bezier(.785, .135, .15, .86);
}

.project-detail-nav-link-prev .nav-icon {
    left: 0;
}

.project-detail-nav-link-next .nav-icon {
    right: 0;
}

.project-detail-nav-link-prev:hover .nav-icon {
    left: 10px;
}

.project-detail-nav-link-next:hover .nav-icon {
    right: 10px;
}

.project-testimonial blockquote i {
    display: block;
    width: 86px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 40px;
}

.project-testimonial blockquote i svg {
    fill: rgb(231, 30, 20);
    -webkit-fill: rgb(231, 30, 20);
    width: 100%;
}

.project-testimonial.bg-color blockquote i svg {
    fill: #fff;
    -webkit-fill: #fff;
    width: 100%;
}

.project-testimonial blockquote figure {
    display: block;
    line-height: 20px;
    font-weight: 300;
    font-size: 85%;
}


.project-detail-mockup-laptop {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.project-detail-bg-image-top {
    background-position: top center;
}

.project-detail-content-list {
    padding: 0;
    list-style: none;
}

.project-detail-content-list > li {
    background: #fff;
    padding: 25px 16px;
    border-bottom: 1px solid #f2f2f2;
}

.project-detail-content-list > li:after {
    clear: both;
}

.project-detail-content-list > li:after,
.project-detail-content-list > li:before {
    content: "";
    display: table;
}

/* ====================================================================
   10.0- Number section style
======================================================================*/
.alt-number-box {
    margin-top: -70px;
}

.statistics span {
    display: block;
    color: rgb(231, 30, 20);
    padding-bottom: 5px;
}

.statistics strong {
    display: inline-block;
    color: #212121;
}

.statistics p {
    display: block;
    clear: both;
    border-bottom: 1px solid #212121;
    padding-bottom: 28px;
}

/* ====================================================================
   11.0-TESTIMONIAL
======================================================================*/

.testimonial-wrap {
    display: block;
    position: static;
}

#testimonial-slider .slick-slider {
    margin: 0 100px;
}

#testimonial-slider .slick-prev,
#testimonial-slider .slick-next {
    width: 60px;
    height: 60px;
    background-color: #212121;
    border-radius: 50%;
    z-index: 1;
}

#testimonial-slider .slick-prev {
    background: url(../icons/capicon/png/white/277.png) no-repeat center #212121;
    background-size: 16px;

}

#testimonial-slider .slick-next {
    background: url(../icons/capicon/png/white/276.png) no-repeat center #212121;
    background-size: 16px;

}

#testimonial-slider .slick-next:before,
#testimonial-slider .slick-prev:before {
    content: '';
}

.testimonial h6 {
    text-align: center;
    color: #212121;
}

.testimonial blockquote {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
    position: relative;
    padding: 0 0 0px 105px;
    display: block;
    font-style: italic;
    font-weight: 300;
}

.testimonial blockquote figure {
    display: block;
    line-height: 20px;
    font-weight: 300;
    font-size: 85%;
    color: #f2f2f2;
}

.review-wrap {
    position: relative;
    display: block;
}

.review-wrap .leftreview {
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
}

.review-wrap .leftreview > img {
    width: 100%;
    height: 100%;
}

.review-wrap .rightreview {
    float: left;
    margin-top: 15px;
}

.testimonial blockquote i {
    width: 86px;
    position: absolute;
    left: 0;
    top: -3px;
}

.testimonial blockquote i svg {
    fill: rgb(231, 30, 20);
    width: 100%;
}


/* ====================================================================
   12.0- CLIENTS section
======================================================================*/

#brands-slider .item {
    padding: 10px;
    position: relative;
    display: block;
    width: 120px;
}

#brands-slider .item {
    max-width: 100%;
    margin: 0 auto;
}

#brands-slider .item img {
    opacity: .6;
}

/* ====================================================================
   13.0-SERVICES section
======================================================================*/
.alt-features-box {
    margin-top: -70px;
}

.services {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.services-inner {
    position: relative;
    height: 100%;
    padding: 70px 35px 70px;
}

.services-icon {
    position: relative;
    margin: 0 auto;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: rgba(232, 90, 79, 0.1);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.services-icon::before {
    content: "";
    display: block;
    background: #fff;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    box-shadow: 12px 24px 32px rgba(17, 16, 62, 0.12);
}

.services:hover .services-icon,
.services:focus .services-icon {
    background-color: rgb(231, 30, 20);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.services:hover .services-icon::before,
.services:focus .services-icon::before {
    box-shadow: none;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.services-icon svg {
    position: relative;
}

.service-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 35px 0 28px 0;
    color: #212121;
}

.service p {
    font-size: 17px;
    line-height: 32px;
}

ul.service-list {
    display: block;
}

ul.service-list li {
    display: block;
    padding: 8px 0;
    text-align: left;
}

ul.service-list li:last-child {
    padding-bottom: 0px;
}

ul.service-list li:before {
    content: "";
    border-radius: 4.5px;
    margin: 0 15px 0 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    background: #f2f2f2;
}

/*Block UI - 2*/

ul.tech {
    list-style-type: none;
}

ul.tech li {
    display: inline-block;
    width: 18%;
    opacity: .3;
}

ul.tech li:hover {
    opacity: .8;
}

ul.tech li img {
    display: block;
    width: 90px !important;
    margin: 0 auto;
}

.owl-slider-technology .owl-dots {
    display: none;
}

/* Section FEATURES*/

.feature-box-1 {
    padding-left: 75px;
}

.feature-box-1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    opacity: 0.4;
}

.feature-box-1 .icon svg path {
    fill: rgb(231, 30, 20);
}

.hero-wrap {
    display: block;
    position: relative;
}

.feature-box-2 {
    position: relative;
    padding: 0 30px;
    z-index: 1;
}

.feature-box-2 img {
    position: absolute;
    top: 0;
    width: 140px;
    max-width: 150px;
    left: 50%;
    margin-left: -70px;
    opacity: 0.05;
    z-index: 0;
}

.feature-box-3 .absolute {
    top: 0;
    right: 0;
}

.feature-box-3:nth-child(even) .absolute {
    top: 0;
    left: 0;
}

.feature-box-3:nth-child(even) .display-table {
    left: 58.33333333%;
}

.alt-steps-block {
    margin-top: -70px;
}

.steps article {
    padding-left: 30px;
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: 2em;
}

.steps article:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 5px;
    top: 0;
    background: #fff;
    opacity: 0.3;
    -webkit-transition: height 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: height 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.steps article:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -1px;
    top: 0.6em;
    background: rgb(231, 30, 20);
    border: 3px solid #1f1f1f;
    -webkit-transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    opacity: 1;
}

/*MOBILE HERO*/
.phone-block {
    position: relative;
    padding: 200px 0 100px;
    min-height: 600px;
}

.phone-block-phone {
    height: 600px;
    width: 320px;
    top: -100px;
    position: absolute;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18), 0 12px 19px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18),
    0 12px 19px 0 rgba(0, 0, 0, 0.18);
    z-index: 1;
    background-color: #fff;
    border-radius: 4.6875rem;
    -webkit-border-radius: 4.6875rem;
}

.phone-block-phone img.phone-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.home-cases-image {
    position: absolute;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    margin-left: 0.875rem;
    margin-top: 0.8125rem;
    border-radius: 1.75rem;
}

.padding-wrap {
    position: relative;
    display: block;
}

.mobile-slider-nav {
    position: static;
    display: block;
    margin: 0 auto;
}

#mobile-hero-slider {
    overflow: hidden;
}

#mobile-hero-slider .carousel-inner .item .heading-medium {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.phone-block .carousel-control {
    width: 50px;
    top: -40px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    -webkit-text-shadow: none;
}

.phone-block .carousel-control.left {
    left: 0;
}

.phone-block .carousel-control.right {
    right: auto;
    left: 60px;
}

.phone-block .carousel-control i {
    line-height: 50px;
}

.feature-box-3:nth-child(even) .absolute {
    top: 0;
    left: 0;
}

.owl-slider-2 .owl-slider-2-number {
    position: absolute;
    top: -20px;
    font-size: 5em;
    font-weight: 700;
    color: #fff;
    opacity: 0.3;
    left: 0px;
    width: 100%;
    line-height: 1;
}

.owl-slider-2-control {
    position: relative;
    display: block;
}

.owl-slider-2-control .owl-slider-2-left,
.owl-slider-2-control .owl-slider-2-right {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: rgb(231, 30, 20);
    opacity: 1;
    color: #fff;
    text-shadow: none;
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.owl-slider-2-control .owl-slider-2-right {
    background: url(../icons/capicon/png/white/276.png) no-repeat center rgb(231, 30, 20);
    background-size: 16px;
}

.owl-slider-2-control .owl-slider-2-left {
    background: url(../icons/capicon/png/white/277.png) no-repeat center rgb(231, 30, 20);
    background-size: 16px;
}

.owl-slider-2-control .owl-slider-2-left:hover,
.owl-slider-2-control .owl-slider-2-left:focus,
.owl-slider-2-control .owl-slider-2-left:active,
.owl-slider-2-control .owl-slider-2-right:hover,
.owl-slider-2-control .owl-slider-2-right:focus,
.owl-slider-2-control .owl-slider-2-right:active {
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.owl-slider-2-control .owl-slider-2-left.slick-disabled,
.owl-slider-2-control .owl-slider-2-right.slick-disabled {
    background: #f2f2f2;
    color: rgb(231, 30, 20);
}

.alt-feature-box-4 {
    margin-top: -30px;
}

.feature-box-4 {
    position: relative;
    display: block;
    min-height: 180px;
}

.feature-box-4-content {
    background: #fff;
    padding: 20px 30px;
    display: block;
    color: #212121 !important;
    max-width: 100%;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    overflow: hidden;
    text-decoration: none;
}

.feature-box-4-content:before {
    content: "";
    position: absolute;
    z-index: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.feature-box-4-content:before {
    width: 40px;
    height: 40px;
    background: #f0f0f5;
    right: 0;
    bottom: 0;
    border-radius: 0px 10px 0px 10px;
    -webkit-border-radius: 0px 10px 0px 10px;
}

/* ====================================================================
   14.0-About section
======================================================================*/

#about-gallery .item a,
#project-detail-item-gallery .item a {
    display: block;
    position: relative;
}

#about-gallery .item img,
#project-detail-item-gallery .item img {
    width: 100%;
}

#about-gallery .item a:before,
#project-detail-item-gallery .item a:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(22, 22, 22, 0.2);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#about-gallery .item a:hover:before,
#about-gallery .item a:focus:before,
#project-detail-item-gallery .item a:hover:before,
#project-detail-item-gallery .item a:focus:before {
    background: none;
}

.content-slider-image {
    padding: 0px 70px;
    width: 90%;
    margin-right: 10%;
    margin-top: -70px;
}

.content-slider-nav {
    position: relative;
    display: block;
    height: 60px;
}

.content-slider-left,
.content-slider-right {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    z-index: 10;
    cursor: pointer;
    text-shadow: none;
    line-height: 56px;
    background-size: cover;
    color: #fff !important;
}

.content-slider-left {
    background: url(../icons/capicon/png/white/277.png) no-repeat center rgb(82, 82, 82);
    background-size: 16px;
}

.content-slider-right {
    right: auto !important;
    left: 60px !important;
    background: url(../icons/capicon/png/white/276.png) no-repeat center rgb(82, 82, 82);
    background-size: 16px;
}

.content-slider-left:after {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 1px;
    height: 16px;
    background: #848383;
}

/* ====================================================================
   15.0-Hero section
======================================================================*/
.alt-award-box {
    position: relative;
}

.alt-award-box ul li {
    display: table-cell;
    position: relative;
    width: 25%;
    margin: 0 auto;
}

.alt-award-box ul li img {
    width: 100%;
}

/* ====================================================================
   16.0 -Team section
======================================================================*/
.alt-team-box {
    margin-top: -70px;
}

.team-member {
    text-align: center;
    padding: 0px 30px 0 30px;
    cursor: pointer;
}

.team-member-details {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.team-member-details-name {
    color: rgb(231, 30, 20);
}

.team-member-details-position {
    font-size: 16px;
}

.team-member-photo {
    position: relative;
    overflow: hidden;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0 auto;
}

.team-member-photo img {
    width: 100%;
    display: block;
    -ms-transform: translateY(1.53846em);
    transform: translateY(1.53846em);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.team-member-photo-plus {
    perspective: 1000;
    position: absolute;
    display: block;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: rotateX(90deg);
    transition-property: transform, opacity;
    transform-style: preserve-3d;
    bottom: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-bottom: -30px;
}

.team-member-photo-plus:before {
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateZ(-0.92308em);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 100%;
}

.team-member-photo-plus:after {
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: url(../icons/capicon/svg/288.svg) no-repeat center center;
}

.team-member-bio {
    padding: 35px 0 0 0;
}

.team-member-bio:before {
    content: "";
    display: block;
    display: block;
    width: 34px;
    height: 4px;
    left: 50%;
    top: 20px;
    margin-left: -17px;
    position: absolute;
    background: rgb(231, 30, 20);
}

.team-member-bio p,
.team-member-bio p a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f2f2f2;
}

.team-member-bio {
    position: absolute;
    opacity: 0;
    left: -999999px;
    top: -999999px;
    -ms-transform: translateY(-0.76923em);
    transform: translateY(-0.76923em);
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: opacity transform;
}

.team-member:hover:not(.is-expanded) .team-member-photo img,
.team-member.is-expanded:not(.is-expanded) .team-member-photo img {
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.team-member:hover .team-member-photo-plus,
.team-member.is-expanded .team-member-photo-plus {
    opacity: 1;
    transform: rotateX(0);
}

.team-member.is-expanded .team-member-bio {
    position: static;
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.team-member.is-expanded .team-member-photo-plus:after {
    background-image: url("../icons/capicon/svg/289.svg");
}

.product-photo {
    position: relative;
    padding: 0px 70px;
    width: 90%;
    margin-right: 10%;
}

.product-photo-wrap {
    display: block;
    position: relative;
    border: 10px solid #111;
}
.product-code {
    background-color: #111;
    text-align: center;
}


.product-photo:after {
    width: 100%;
    width: -webkit-calc(100% - 22px);
    width: -moz-calc(100% - 22px);
    width: calc(100% - 22px);
    height: 90%;
    background: #111;
    z-index: -1;
    position: absolute;
    top: 5%;
    left: 12px;
    content: "";
    background-image: url(../images/gallery/img_update2.png);
    background-repeat: no-repeat;
    opacity: .3;
}

/* ====================================================================
   17.0-Pricing section
======================================================================*/

.alt-pricing-box {
    margin-top: -70px;
}

.pricing-block {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}

.pricing-block .pricing-block-inner {
    position: relative;
    height: 100%;
    padding: 70px 35px 70px;
    box-shadow: 0 11px 35px rgba(47, 103, 217, .09);

}

.pricing-block .pricing-block-heading {
    position: relative;
    line-height: 1.2;
    margin: 35px 0 12px 0;
    color: #212121;
}

.pricing-block-heading:after {
    display: block;
    width: 52px;
    height: 4px;
    content: "";
    position: absolute;
    top: 37px;
    background-color: #f2f2f2;
}

.pricing-block .pricing-block-price {
    padding: 40px 0;
    display: block;
    position: relative;
}

.pricing-block .pricing-currency {
    line-height: 1;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    margin-right: 4px;
}

.pricing-block .pricing-features-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pricing-block .pricing-features-list li {
    display: block;
    padding: 8px 0;
    text-align: left;
    position: relative;
    padding-left: 22px;
}

.pricing-block .pricing-features-list li:before {
    content: "";
    border-radius: 4.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    background: rgb(231, 30, 20, .2);
    position: absolute;
    top: 14px;
    left: 0;
}

.pricing-block .pricing-block-ribbon {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 150px;
    overflow: hidden;
    height: 150px;
}

.pricing-block .pricing-block-ribbon .ribbon-inner {
    color: #fff;
    font-size: 11px;
    letter-spacing: .5px;
    line-height: 2.6;
    text-align: center;
    left: 0;
    width: 200%;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    margin-top: 35px;
    text-transform: uppercase;
    background: #38dd8e;
    background: -moz-linear-gradient(left, rgb(228, 17, 6) 0%, rgb(231, 30, 20) 100%);
    background: -webkit-linear-gradient(left, rgb(228, 17, 6) 0%, rgb(231, 30, 20) 100%);
    background: linear-gradient(to right, rgb(228, 17, 6) 0%, rgb(231, 30, 20) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(228, 17, 6)', endColorstr='rgb(231, 30, 20)', GradientType=1);

}

.pricing-block .pricing-footer {
    padding: 30px 0;
}

.pricing-block .pricing-footer:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 15px;
    text-align: center;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    background-image: url(../icons/capicon/svg/269.svg);
    opacity: .09;
}

.pricing-block .pricing-footer .pricing-footer-info {
    padding-top: 26px;
    opacity: .3;
}

/* ====================================================================
   18.0-Blog section
======================================================================*/
.alt-blog-box {
    margin-top: -70px;
}

a.blog-item {
    position: relative;
    overflow: hidden;
    display: block;
    color: #505050 !important;
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.item-grid .blog-item {
    padding: 20px;
}

.blog-title h3 {
    line-height: 1.5em;
}

.blog-item .blog-item-thumbnail {
    width: 100%;
    display: block;
    -ms-transform: translateY(1.2em);
    transform: translateY(1.2em);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.blog-item .blog-item-thumbnail img {
    width: 100%;
}

.blog-item:active .blog-item-thumbnail,
.blog-item:hover .blog-item-thumbnail {
    -ms-transform: translateY(0);
    transform: translateY(0);
    color: rgb(231, 30, 20);
}

.blog-item-overlay {
    position: absolute;
    z-index: 1;
}

.blog-item-thumbnail {
    position: relative;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a.blog-item:hover,
a.blog-item:focus,
a.blog-item:active {
    color: rgb(231, 30, 20) !important;
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.blog-single-header {
    position: relative;
    display: block;
    width: 100%;
}

.alt-blog-single-header {
    margin-top: -30px;
}

.blog-single-info {
    position: relative;
    display: block;
}

.blog-single-info:before {
    position: absolute;
    top: 0px;
    width: 120px;
    height: 2px;
    background: rgb(231, 30, 20);
    content: "";
}

.blog-single-info header {
    padding-top: 10px;
    color: rgb(231, 30, 20);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.blog-single-info aside {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
}

.blog-pera-19 {
    font-size: 19px;
}

.blog-section blockquote.blockquote-normal {
    border-left: 2px solid;
    border-color: rgb(231, 30, 20);
    padding: 40px 40px;
    margin: 40px 0;
}

.blog-section blockquote p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 300;
}

.blog-section .first-letter-block {
    font-size: 32px;
    height: 70px;
    line-height: 1;
    padding: 20px 0;
    width: 70px;
    margin: 8px 30px 8px 0;
    float: left;
    font-weight: 700;
}

.blog-section img.alignleft {
    float: left;
    margin: 5px 40px 40px 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

.tag-cloud a {
    font-size: 11px;
    padding: 3px 8px;
    border: 1px solid #444;
    margin: 0 8px 8px 0;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    line-height: 18px;
    font-weight: 400
}

.tag-cloud a:hover {
    background: #fff;
    color: #212121 !important;
    border: 1px solid #fff;
}

.blog-single-social-icon {
    list-style: none;
    padding: 0;
}

.blog-single-social-icon li {
    display: inline-block;
    margin: 0 2px;
}

.blog-single-social-icon a {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 29px;
}

.blog-single-social-icon a.likes-count {
    padding: 0 15px;
    width: auto;
    border-radius: 30px !important;
}

a.likes-count i {
    margin-right: 8px;
}

.blog-single-social a {
    text-align: center;
    display: inline-block;
    border: 1px solid #444;
    color: #fff;
    background-color: transparent;
    border-radius: 100%;
}

.blog-single-social a:hover {
    border-color: rgb(231, 30, 20);
    color: rgb(231, 30, 20);
    background-color: transparent;
}

/* ====================================================================
   19.0- Subscribe section
======================================================================*/
.alt-subscribe-box:before {
    position: absolute;
    background-image: url(../icons/capicon/svg/224.svg);
    top: -30px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    content: "";
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: scroll;
    opacity: 0.03;
}

.newsletter-block {
    background: #fff;
    position: relative;
    width: 100%;
}

.newsletter-info .newsletter {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #212121;
}

#mailchimp > input {
    background: rgb(231, 30, 20);
    border: 2px solid rgb(231, 30, 20);
    border-radius: 0;
    padding: 14px 50px 14px 20px;
    font-size: 15px;
    font-family: inherit;
    display: block;
    width: 100%;
    color: #fff;
}

#mailchimp .newsletter-submit {
    height: 100%;
    line-height: 100%;
    width: 46px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../icons/capicon/png/white/276.png) no-repeat center transparent;
    background-size: 16px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mailchimp::-webkit-input-placeholder {
    color: #fff !important;
}

#mailchimp::-moz-placeholder {
    color: #fff !important;
}

#mailchimp::-ms-input-placeholder {
    color: #fff !important;
}

#mailchimp input::placeholder {
    color: #fff !important;
}

/* ====================================================================
   20.0- contact section
======================================================================*/
.alt-contact-box {
    margin-top: -70px;
}

.contact-no,
.contact-address,
.contact-social {
    position: relative;
    display: block;
}

.contact-no a,
.contact-address a,
.contact-social a {
    color: #87878c;
}

.contact-social ol {
    display: block;
}

.contact-social ol li {
    display: inline-block;
}

.contact-social ol li a {
    display: block;
    width: 28px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 25px;
    text-align: right;
    color: rgb(231, 30, 20);
}

.contact-social ol li:first-child a {
    margin-left: 0px;
}

.contact-social ol li a:hover,
.contact-social ol li a:focus {
    color: #212121;
}

.contact-social ol li a svg {
    width: 100%;
    vertical-align: middle;
    fill: rgb(231, 30, 20);
    -webkit-fill: rgb(231, 30, 20);
}

.contact-no a:hover,
.contact-address a:hover,
.contact-social a:hover {
    color: #212121;
}

.form-wrapper input:focus,
.form-wrapper input:hover,
.form-wrapper textarea:focus,
.form-wrapper textarea:hover {
    border-color: #212121;
}

.field-group:after {
    content: "";
    display: block;
    clear: both;
}

.field-group .form-field {
    padding-right: 10px;
}

.form-field {
    padding-bottom: 30px;
    position: relative;
}

.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea {
    padding: 10px 15px;
    outline: 0;
    width: 100%;
    color: #212121;
    height: 45px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #fff;
}

.form-wrapper textarea {
    height: 100px;
}

.form-wrapper button:focus {
    outline: none;
    outline-offset: 0px;
}

#submit_output {
    position: relative;
    display: block;
}

#contact_form::-webkit-input-placeholder {
    color: #212121;
}

#contact_form::-moz-placeholder {
    color: #212121;
}

#contact_form:-ms-input-placeholder {
    color: #212121;
}

#contact_form input::placeholder {
    color: #212121;
}

/* ====================================================================
   21.0-Footer section
======================================================================*/

.footer p {
    font-size: 12px;
    line-height: 16px;
}

.footer a.logo {
    display: block;
    margin: 0 auto 60px;
    width: 70px;
    height: 54px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999px;
    background-position: left center;
    -webkit-background-position: left center;

    -webkit-background-size: contain;
    background-size: contain;
}

.footer nav {
    text-align: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 25px 0;
    margin-bottom: 30px;
}

.footer nav li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.footer nav a {
    color: #919191;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-weight: 500;
}

.footer nav a:hover {
    color: #17171d;
}

.footer nav li:after {
    content: "";
    position: absolute;
    right: -5px;
    width: 3px;
    height: 3px;
    top: 8px;
}

.footer nav li:last-child:after {
    display: none;
}

.footer aside p {
    display: inline-block;
    width: 100%;
    letter-spacing: 0.6px;
    text-align: center;
}

.footer aside p a {
    font-weight: 700;
    color: #969696;
}

.footer aside p a:hover {
    color: #17171d;
}

.footer aside p:last-child {
    text-align: center;
}

/* ====================================================================
   22.0-Back to Top button
======================================================================*/
.back-to-top {
    width: 50px;
    height: 50px;
    padding: 17px;
    display: inline-block;
    background: url(../icons/capicon/png/black/279.png) no-repeat center #fff;
    background-size: 16px;
    position: fixed;
    right: 52px;
    bottom: 150px;
    z-index: 2;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: translateY(250px);
    -ms-transform: translateY(250px);
    transform: translateY(250px);
    -webkit-transition: all 350ms;
    transition: all 350ms;
}

.back-to-top.is-show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.back-to-top svg {
    fill: #17171d;
    -webkit-transition: all 350ms;
    transition: all 350ms;
}

.back-to-top:focus svg,
.back-to-top:hover svg {
    fill: #e85a4f;
}

.back-to-top.is-adjust {
    bottom: 50px;
}


/* ====================================================================
   23.0-Popup menu, work detail and popup contact style
======================================================================*/
/* Popup */
.popup {
    opacity: 0;
    background: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -5;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.popup-content {
    width: 100%;
    margin: auto;
    opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 450ms;
    transition-duration: 450ms;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    padding: 0px 15px 0px;
}

body.is-popup-open {
    overflow: hidden;
}

.is-open-form {
    display: block;
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.bg-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 245, 228, 1);
}

.popup .bg-grid {
    position: fixed;
}

.bg-grid span {
    width: -webkit-calc(100% / 7 + 1px);
    width: calc(100% / 7 + 1px);
    margin-left: -1px;
    height: 100%;
    display: inline-block;
    float: left;
    border-right: 1px solid #f7daa8;
    border-left: 1px solid #f7daa8;
    -webkit-transition: none;
    transition: none;
}

.bg-grid span:first-child {
    border-left: none;
    margin-left: -2px;
}

.is-popup-open .popup-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.popup-content.is-fade-out {
    -webkit-animation: fadeOut 0.6s both cubic-bezier(1, 0, 0, 1);
    animation: fadeOut 0.6s both cubic-bezier(1, 0, 0, 1);
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}

/* Popup style for menu */
.is-popup-menu .bg-grid {
    background-color: #17171d;
    height: 150%;
}

.is-popup-menu .bg-grid span {
    background-color: #17171d;
    border-color: #25252e;
}

.popup.is-popup-menu {
    background: #17171d;
    overflow: auto;
}

.popup-menu-wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.popup-menu-logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 80px 0 0 80px;
    background: url(../images/logo.png) no-repeat;
    background-size: auto 70px;
    -webkit-background-size: auto 70px;
    text-indent: -9999px;
    background-position: left top;
    -webkit-background-position: left top;
}

.popup-menu-close {
    width: 79px;
    height: 79px;
    border: none;
    background: 0 0;
    display: inline-block;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border-left: 1px solid #25252e;
    border-bottom: 1px solid #25252e;
}

.popup-menu-close svg {
    fill: #fff;
    width: 17px;
}

.popup-menu-close:hover {
    background-color: rgb(90, 90, 90);
}

.popup-menu-items {
    padding-top: 62px;
}

.popup-menu-items ul li a:link,
.popup-menu-items ul li a:visited {
    display: block;
    padding: 24px 50px 25px 80px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: 600;
}

.popup-menu-items ul li a:active,
.popup-menu-items ul li a:focus,
.popup-menu-items ul li a:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Popup style for project detail */
.is-popup-work .bg-grid,
.bg-grid.work-detail {
    background: #f0f0f5;
}

.is-popup-work .bg-grid span {
    border-color: #e4e4e8;
}

.is-popup-work .popup-content .iframe-wrapper {
    display: inline-block;
    position: relative;
}

.is-popup-work .popup-content .iframe-wrapper:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: -webkit-calc(100% - 2px);
    height: calc(100% - 2px);
    background: url(../images/ripple.gif) no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.project-nav {
    position: relative;
    display: block;
    width: 100%;
}

.popup-nav-left,
.popup-nav-right {
    display: block;
    position: relative;
    cursor: pointer;
    height: 80px;
    text-align: center;
    border: 1px solid #e4e4e8;
    background: rgba(255, 255, 255, .3);
    padding: 28px 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.popup-nav-left {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.popup-nav-left svg,
.popup-nav-right svg {
    width: 25px;
    fill: rgb(231, 30, 20);
}

.popup-nav-left:focus,
.popup-nav-left:hover,
.popup-nav-right:focus,
.popup-nav-right:hover {
    background: #212121;
}

/* Popup background grid for contact */
.is-popup-contact .bg-grid {
    background: #ebebf0;
}

.is-popup-contact .bg-grid span {
    border-color: #f8f8fc;
}

.is-popup-open.is-open-form .popup.is-popup-form,
.is-popup-open.is-open-menu .popup.is-popup-menu,
.is-popup-open.is-open-work .popup.is-popup-work,
.is-popup-open.is-open-contact .popup.is-popup-contact {
    opacity: 1;
    z-index: 999;
}

/* Popup close */
.popup-close {
    width: 79px;
    height: 79px;
    cursor: pointer;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    background: 0 0;
    border-left: 1px solid #e4e4e8;
    border-bottom: 1px solid #e4e4e8;
    z-index: 1;
}

.popup-close:hover {
    background: #fff;
}

.popup-close svg {
    fill: #17171d;
    width: 17px;
}

.popup-close:focus svg,
.popup-close:hover svg {
    fill: rgb(231, 30, 20);
}

.loading-popup:after {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    content: 'Loading...'
}
